/* estilos.css */

body {
    font-family: Arial, sans-serif;
      background: linear-gradient(135deg, #74ebd5 0%, #9face6 100%);
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.container:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

a {
    display: block;
    padding: 10px;
    background-color: #5cb85c; /* Verde */
    color: white;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

a:hover {
    background-color: #4cae4c; /* Verde más oscuro */
    transform: translateY(-2px);
}

.logout {
    background-color: #d9534f; /* Rojo */
}

.logout:hover {
    background-color: #c9302c; /* Rojo más oscuro */
}

.logout {
    transition: background-color 0.3s ease;
}